{% extends 'admin_layout.html' %} {% load static %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>
    <script src="{% static 'js/multi-select-box/multiselect-dropdown.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'admin:foodmanage' %}">Món ăn</a>
            </li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>

        <div class="card mx-auto mt-5 mb-5" style="max-width: 70rem">
            <div class="card-header">Thông tin món ăn</div>
            <div class="card-body">
                <form id="add_food_form" action="{% url 'admin:editfood' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="form-group">
                        <label class="label" for="inputTitle">Id(*)</label>
                        <input type="text" maxlength="225" id="inputTitle" class="form-control"
                               required="required" value="{{ food.id }}" disabled/>
                        <input type="hidden" name="id" value="{{ food.id }}">
                    </div>




                    <div class="form-group">
                        <label class="label" for="inputTitle">Tên món ăn (*)</label>
                        <input type="text" maxlength="225" id="inputTitle" name="name" class="form-control"
                               placeholder="Tên món ăn" required="required" value="{{ food.name }}"/>
                    </div>

                    <div class="form-group">
                        <label class="label" for="inputTitle">Mô tả</label>

                        <textarea id="inputTitle" name="description" class="form-control" placeholder="Mô tả" rows="4"
                                  cols="10"> {{ food.description }}</textarea>
                    </div>
                    <div class="form-group" style="height: 250px">
                        <label class="label">Hình ảnh</label>
                        <br/>
                        <input type="file" accept="image/*" id="inputTitle" name="image"
                               onchange="show_img_event(event)"/>
                        <br/>
                        <img src="{{ food.image.url }}" height="200" id="loaded_img" alt="loaded_img"/>
                    </div>

                    <div class="form-group">
                        <label class="label" for="dishSelect">Thành phần</label>
                        <div id="dishesSelect">
                            <select id="dishSelect" class="form-control" name="dishes" multiple
                                    multiselect-search="true">
                                {% for dish_ in dish %}
                                    <option value="{{ dish_.id }}"
                                            {% for dshs in food.dishes %}
                                                {% if dshs.dish.name == dish_.name %} selected {% endif %}
                                            {% endfor %}
                                    >{{ dish_.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="categorySelect">Chọn danh mục:</label>
                        <select id="categorySelect" class="form-control" name="categories" multiple
                                multiselect-search="true">
                            {% for category in food_category %}
                                <option value="{{ category.id }}"
                                        {% for ffc in food.categories %}
                                            {% if category.name == ffc.foodcategory.name %} selected {% endif %}
                                        {% endfor %}
                                >{{ category.name }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                    <link href="{% static 'css/poststyle.css' %}" rel="stylesheet">
                        <label for="editor">Hướng dẫn nấu ăn</label> <br/>
                    <div>
                        <a href="{% url 'user:articleview' slug_id=food.get_foodarticle.slug_id %}" target="_blank">Xem bài viết</a>
                    </div>
                        <label>
                            Thời gian thực hiện:
                            <input type="number" name="time_spend" value="{{ food.get_foodarticle.time_spend }}"/>
                        </label>
                        <label>
                            Đăng bài
                            <input type="checkbox" name="is_publish" {% if food.get_foodarticle.is_published %} checked  {% else %} {% endif %}/>
                        </label>
                        <br>
                        <label>Tiêu đề:</label>
                        <input type="text" name="food_article_title" class="form-control" value="{{ food.get_foodarticle.title }}"/>

                        <input type="hidden" id="food_article" name="food_article" value="{{ food.get_foodarticle.content }}"/>
                        <br>
                        <div id="editor"></div>

                        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                        <script>
                            var quill = new Quill("#editor", {
                                theme: "snow", // 'snow' is a clean theme
                                placeholder: "Compose your article...",
                                modules: {
                                    toolbar: [["bold", "italic", "underline", "strike"], ["link", "image", "video"], [{header: [1, 2, 3, 4, 5, 6, false]}], [{list: "ordered"}, {list: "bullet"}], ["clean"]],
                                },

                            });
                            let cnt = document.getElementById("food_article").value
                            quill.clipboard.dangerouslyPasteHTML(cnt);
                            quill.formatText(quill.getSelection().index, cnt.length, 'wrapper', true);

                        </script>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Lưu</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            console.log("loaded");
            let AddForm = document.getElementById("add_food_form");
            AddForm.addEventListener("submit", () => {
                let food_article = document.getElementById("food_article");
                food_article.value = quill.root.innerHTML;
            });
            quill.root.innerHTML;
            //addValueCountInputBox()
        });

        window.addEventListener("load", () => {
            setTimeout(addValueCountInputBox, 1000);
        });

        function createInputNumber(label, name) {
            let e = document.createElement("input");
            e.setAttribute("type", "number");
            e.setAttribute("name", name);
            e.setAttribute("style", "width: 70%");
            e.setAttribute("value", "0");
            let e1 = document.createElement("span");
            e1.innerText = label;

            let ee = document.createElement("div");
            ee.appendChild(e1);
            ee.appendChild(e);
            return ee;
        }

        function _handle_input_check(select_element, observer) {
            let disabled = true;
            if (select_element.getAttribute("class") === "checked") {
                disabled = false;
            }
            select_element.childNodes.forEach((element_div_input) => {
                if (element_div_input.tagName === "DIV") {
                    console.log("div");
                    element_div_input.childNodes.forEach((input_node) => {
                        if (disabled) {
                            input_node.disabled = disabled;
                        } else {
                            input_node.removeAttribute("disabled");
                        }
                    });
                }
            });
        }

        function addValueCountInputBox() {
            document.querySelector("#dishesSelect > div > div > div").childNodes.forEach((e) => {
                e.appendChild(createInputNumber("Số lượng", "dish_count"));
                e.appendChild(createInputNumber("Khối lượng (g)", "dish_value"));
                _handle_input_check(e, e);
                onClassChange(e, (node, observer) => _handle_input_check(node, observer));
            });
        }
    </script>
{% endblock %}
