<!-- users_list.html -->

{% extends 'admin_layout.html' %}

{% block title %}User Manage{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'admin_foodmanage' %}">Món ăn</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_foodcategory' %}">Danh mục</a>
            </li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>

        <!-- Page Content -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <a class="btn btn-primary text-end" href="{% url 'admin_addfoodcategory' %}"><i class="fas fa-plus"></i> Thêm mới</a>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên</th>
                                <th>Mô tả</th>
                                <th>Hình Ảnh</th>
                                <th>Hình Ảnh</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for category in food_category %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description }}</td>
                                    <td> <img src="{{ category.image.url }}" alt="image_food_category_{{ category.id }}" id="loaded_img"></td>
                                    <td> <a href="{% url 'admin_editfoodcategory' %}?id={{ category.id }}"> Edit </a></td>
                                    <td> <a href="{% url 'admin_deletefoodcategory' %}?id={{ category.id }}"> Delete </a></td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
